cff-version: 1.2.0
message: "If you use this software, please cite it as below."
title: "PDAC spatial program association"
version: "1.0.0"
date-released: "YYYY-MM-DD"
url: "https://github.com/OWNER/pdac-spatial-program-association"
repository-code: "https://github.com/OWNER/pdac-spatial-program-association"
license: "CHOOSE-A-LICENSE"
authors:
  - family-names: "REPLACE"
    given-names: "REPLACE"
    orcid: "https://orcid.org/0000-0000-0000-0000"
doi: "ZENODO-DOI-ONLY-AFTER-PUBLICATION"
